body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.container {
    background-color: lightsalmon;
    border: 2px solid black;
    border-radius: 5px;  
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /*grid-template-rows: 100px 30px 40px 50px 100px;*/
    grid-auto-rows: 100px;
}

.container div {
    
    border: 1px solid blue;
    border-radius: 3px;
}
.caja1 {
    grid-column: 3 / 4;
    background-color: lightgreen;
 }

 .caja2 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    background-color: lightskyblue;
 }

 .caja3 {
    background-color: lightseagreen;
    grid-row: 2 / 4;
 }
 .caja4 {
    grid-row: 4 / 6;
 }
 .caja5 {
    background-color: yellow;
    grid-column: 2 / 4;
 }
 .caja6 {
    background-color: aquamarine;
 }
 .caja7 {
    background-color: lime;
 }
 .caja8{
    background-color: cadetblue;
    grid-column: 1 / 4;
 }